body {
    background-color: black;
}

h1 {
    text-transform: uppercase;
    font-size: 2rem;
}

.poster {
  width: 50%;
  margin:15px auto;
  max-height: 400px;
  object-fit: cover;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

.motivation-img {
  border: 5px solid white;
  width: 55%;
}